/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Cambo|Quicksand');
@import url('https://fonts.googleapis.com/css?family=Thasadith');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');


/* CSS4 Global Variables */
:root {
  --primary-text-color: #dddddd;
  --heading-text-color: #f0f0f0;
  --active-text-color: #ffffff;
  --text-font-size: 1rem;
  /* --primary-font: 'Thasadith', sans-serif; */
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Cambo', serif;
  --tertiary-font: 'Quicksand', sans-serif;
}



body {
  background: linear-gradient(45deg, #404c8c, #0f7699);
  background-size: 1000% 1000%;
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  font-size: var(--text-font-size);
}

h1, h2, h3, h4, h5, h6, p, a, span 
{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--secondary-font);
  color:var(--active-text-color);
  text-transform: capitalize;
}
h1, section#hero h1 {
  font-size: calc(var(--text-font-size)*3);
}
section h1 {
  font-size: calc(var(--text-font-size)*5);
}
section h1::after {
  display: block;
  content: " ";
  border: 1px solid;
  width: 6rem;
  margin-bottom: 1rem;
} 
h2 {
  font-size: calc(var(--text-font-size)*3.5);
}
h3 {
  font-size: calc(var(--text-font-size)*2.5);
}
h4 {
  font-size: calc(var(--text-font-size)*2);
}
h5 {
  font-size: calc(var(--text-font-size)*1.5);
}
h6 {
  font-size: calc(var(--text-font-size)*1.1);
}



p {
  font-family: var(--primary-font);
  font-weight: 300;
  letter-spacing: 0.001rem;
  line-height: 1.6;
}



/* Boostrap Overrides */
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: var(--active-text-color);
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(255,255,255,.5);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(255,255,255,0.7);
}
section {
  padding: 5rem 0;
  border-bottom: 0px solid red;
}

/* animate underline on hover */
.navbar-nav li { 
  position: relative;
  margin: 0 1rem;
}
.navbar-nav li a {
  font-size: 0.9rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  position: relative;
}
.navbar-nav li a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: rgba(255,255,255,.5);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar-nav li a:hover:after { 
  width: 100%; 
  left: 0; 
}


/*------------------------------------ Hero Section Styles -------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
.vac {
  display: flex;
  align-items: center;
}
.self-description {
  line-height: 2;
  letter-spacing: 0.04rem;
  margin-bottom: 2rem;
}
.hero {
  /* background: url("../svg/hero-bg-1.svg") no-repeat;
  background-size: cover;
  background-position: bottom left; */
  display: flex;
  align-items: center;
  height: 90vh;
}

.arrow img {
  position: relative;
  margin: 0 auto;
  display: block;
  top: -1rem;
  animation: arrow 2s both infinite;
}
 
@keyframes arrow {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
} 


/*------------------------------------ Typed Script Styles -------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*Add custom cursor so it auto inherits font styles*/
.typed::after {
	content: '|';
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor{
   opacity: 0;
	display: none;
}
/*Custom cursor animation*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/*--------------------------------------------------------------------------------------------------*/



/*------------------------------------ Technical Skills Styles -------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
.skillbar {
  position: relative;
  display: block;
  margin-bottom: 2rem;
  width: 100%;
  background: #eee;
  height: 16px;
  border-radius: 8px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  color: #ffffff;
  background: #6adcfa;
  border-radius: 8px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding-left: 10px;
  height: 16px;
  line-height: 16px;
  font-size: 10px;
  border-radius: 8px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.skillbar-bar {
  height: 16px;
  width: 0px;
  background: #6adcfa;
  border-radius: 8px;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 16px;
  line-height: 16px;
  color: #ffffff;
  color: rgba(0, 0, 0, 0.4);
}
/*--------------------------------------------------------------------------------------------------*/






section .card {
  background-color: transparent;
}







/* paypal cont starts */
.paypal-cont {
  text-align: center;

}
.btn-ppal {
  background-color:#0073aa; color:#fff;
}

.valign-center {
  display: flex;
  align-items: center;
}

